
@{
    ViewBag.Title = "newassociate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bb-alert alert alert-success noty_animated fadeInUp">
    <span>Table Callback Demo Content</span>
</div>
<div class="page-container list-menu-view">

    <div class="main-container">
        <div class="container-fluid">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-md-7">
                        <div class="page-breadcrumb-wrap">
                            <div class="page-breadcrumb-info">
                                <h2 class="breadcrumb-titles">Add new Business Associates</h2>
                                <ul class="list-page-breadcrumb">
                                    <li>
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="active-page">New Associate Form</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Basic Details
                    </div>
                    <div class="col-md-6">
                        Address Details
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Bank details goes here
                    </div>
                </div>
            </div>

            

        </div>
    </div>

</div>

